body {
  padding: 0;
  margin: 0;
  background: #e5e5e5;
}
/*--- navigation bar ---*/
.navbar {
  background:#5ca0d3;
  margin: 0;
  border: 0px;
  padding: 0px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header{
  background-image: url('image/s.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0,0, 0.6);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color:#5ca0d3;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border:1px solid #a9c6de;
  background:#5ca0d3;
  border-radius: 0;
  color:#fff;
 
}

.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}


.footerRow {
  margin: 0 auto;
  padding: 15px;
  width: 100%;


}


div.footer {
  color: rgb(255,255,255) !important;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
 

div {
  display:block;
}

@media (min-width: 633px){
#footer
ul.social-links {
    float: left;
}
}
ul.inner, ul.social-links {
  list-style: none;
  padding-left: 0;
}



ul {
 
  display: flex;
 justify-content: space-around;
 
}





.social-links{
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 50px;
}

.rightfloat{

  max-width: 1000px;
  margin:0 auto;
 
 
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 5em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}